<header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="Brand {{ site.title }}" src="/{{ 'img' | prepend: baseurl }}/logo.png" />
      </a>
    </div>

    <nav class="bs-navbar">
      <ul class="list sns pull-right">
        <li><a target="_blank" href="https://www.facebook.com/codenamu"><img src="/img/facebook.png" alt="codenamu facebook group"></a></li>
        <li><a target="_blank" href="https://twitter.com/codenamu"><img src="/img/twitter.png" alt="codenamu twitter"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-pills">
      {% for link in site.data.navigation %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url %}
        {% endif %}
        <li{% if page.url == link.url %} class="active"{% endif %}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </nav>

  </div>
</header>

{% if page.splash %}
{% assign splash_hash = page.splash | split:'|' %}

<div id="splash" style="background: url(/img/{{ page.splash | split:"|" | first }}) no-repeat center top;">
  <div class="container text-center">
    <div class="sr-only">
      {{ page.splash | split:"|" | last | markdownify }}
    </div>
    <p>&nbsp;</p>
  </div>
  {% if page.permalink == '/about/' %}
    <div class="about-desc">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <p>내가 낸 세금 꼭 필요한 곳에 잘 사용되고 있을까요?</p>
            <p>
              "월급 받을 때 세금 내는데 어떻게 쓰이고 있을까?<br>
              내가 얼마를 낸 거고 정부는 나에게 뭘 해준걸까 혹은 나는 뭔가 잘 누리고 있는건가?<br>
              연말정산은 뭔데 내가 세금을 더 내야 하지? "
            </p>
            <p>모두들 한번쯤 생각해보신 적 있지 않나요?</p>

            <p>이런 질문에 대답해보기 위해서 정부는 재정 데이터 공개에만 충실하고 시민들이 직접 이런 데이터를 보다 쉽고 창의적인 방식으로 시각화함으로써 모두가 쉽게 우리나라의 재정을 읽고 이해할 수 있도록 해보면 어떨까요?</p>

            <p>이를 통해 우리가 내는 세금을 국민들이 꼼꼼히 살펴보고 잘 사용하고 있는<br />
              직접 확인할 수 있다면, 가장 좋을 듯 합니다. </p>

            <p>'지켜보고 있다. 대한민국 재정' 프로젝트는 국가 재정의 투명성을 높이기 위한 민-관 협력 프로젝트입니다.
              공개된 정부의 재정 정보를 꼼꼼히 살펴보고 어려운 재정 정보의 이해를 돕거나 재정 데이터를 보다 쉽게 활용할 수 있도록 데이터(row data)  아카이빙,  데이터 분석, 시각화 등을 합니다.</p>

            <p>'지켜보고 있다 대한민국 재정 프로젝트'는 많은 분들이 함께 참여했습니다. </p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endif %}
